.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 25vw;
    min-height: 300px;
    background-color: white;
    width: 550px;
    border-radius: 50px;
    border: solid lightgrey 1pt;
    margin-bottom: 180px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: inherit;
}


.user > input {
    width: 200px;
    height: 50px;
    margin: 10px;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 30px;
    border: solid lightgrey 1pt;
}

.user > form {
    display: flex;
    flex-direction: column;
}

.user > form > input {
    font-size: 14pt;
}

.user > input:focus {
    outline: none;
}

.user > form > button {
    background-color: #ff7779;
    color:white;
    text-transform: inherit;
    margin-top: 20px;
    margin-left: 60px;
    font-weight: 600;
    width: 100px;
}

.user > button:hover {
    background-color: white;
    color: #ff7779;
}